<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th><mfDefaultSorter></mfDefaultSorter></th>
        <th><mfDefaultSorter>Name</mfDefaultSorter></th>
        <th><mfDefaultSorter>Phone</mfDefaultSorter></th>
        <th><mfDefaultSorter>Email</mfDefaultSorter></th>
        <th><mfDefaultSorter>Company</mfDefaultSorter></th>
        <th><mfDefaultSorter>Date_Entry</mfDefaultSorter></th>
        <th><mfDefaultSorter>Org_Num</mfDefaultSorter></th>
        <th><mfDefaultSorter>Address_1</mfDefaultSorter></th>
        <th><mfDefaultSorter>City</mfDefaultSorter></th>
        <th><mfDefaultSorter>Zip</mfDefaultSorter></th>
        <th><mfDefaultSorter>Geo</mfDefaultSorter></th>
        <th><mfDefaultSorter>Pan</mfDefaultSorter></th>
        <th><mfDefaultSorter>Pin</mfDefaultSorter></th>
        <th><mfDefaultSorter>Id</mfDefaultSorter></th>
        <th><mfDefaultSorter>Status</mfDefaultSorter></th>
        <th><mfDefaultSorter>Fee</mfDefaultSorter></th>
        <th><mfDefaultSorter>Guid</mfDefaultSorter></th>
        <th><mfDefaultSorter>Date_Exit</mfDefaultSorter></th>
        <th><mfDefaultSorter>Date_First</mfDefaultSorter></th>
        <th><mfDefaultSorter>Date_Recent</mfDefaultSorter></th>
        <th><mfDefaultSorter>Url</mfDefaultSorter></th>
    </tr>
    </thead>
    <tbody >
        <tr *ngFor="let user of mf.data">
            <td><input value="Post" type = "submit" (click)="onClickMe(user)" /></td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.company}}</td>
            <td>{{user.date_entry}}</td>
            <td>{{user.org_num}}</td>
            <td>{{user.address_1}}</td>
            <td>{{user.city}}</td>
            <td>{{user.zip}}</td>
            <td>{{user.geo}}</td>
            <td>{{user.pan}}</td>
            <td>{{user.pin}}</td>
            <td>{{user.id}}</td>
            <td>{{user.status}}</td>
            <td>{{user.fee}}</td>
            <td>{{user.guid}}</td>
            <td>{{user.date_exit}}</td>
            <td>{{user.date_first}}</td>
            <td>{{user.date_recent}}</td>
            <td>{{user.url}}</td>
        </tr>
   <!--  <tr *ngFor="let item of mf.data">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td class="text-right">{{item.age}}</td>
        <td>{{item.city | uppercase}}</td>
    </tr> -->
    </tbody>
    <tfoot>
    <tr>  
        
        <td colspan="4" >
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>