<div style="text-align:left;width:500px;">
  
  <h1>
      Welcome to {{title}}!
  </h1> 
  <app-data-table></app-data-table>
   <!-- <app-extrapage></app-extrapage>  -->
   <router-outlet></router-outlet> 
</div>



