<table *ngIf="arrSample">
      
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Company</th>
    <th>Date_Entry</th>
    <th>Org_Num</th>
    <th>Address_1</th>
    <th>City</th>
    <th>Zip</th>
    <th>Geo</th>
    <th>Pan</th>
    <th>Pin</th>
    <th>Id</th>
    <th>Status</th>
    <th>Fee</th>
    <th>Guid</th>
    <th>Date_Exit</th>
    <th>Date_First</th>
    <th>Date_Recent</th>
    <th>Url</th>
  </tr>

  
  <tr *ngFor="let data of arrSample">
    <td>{{data.name}}</td>
    <td>{{data.phone}}</td>
    <td>{{data.email}}</td>
    <td>{{data.company}}</td>
    <td>{{data.date_entry}}</td>
    <td>{{data.org_num}}</td>
    <td>{{data.address_1}}</td>
    <td>{{data.city}}</td>
    <td>{{data.zip}}</td>
    <td>{{data.geo}}</td>
    <td>{{data.pan}}</td>
    <td>{{data.pin}}</td>
    <td>{{data.id}}</td>
    <td>{{data.status}}</td>
    <td>{{data.fee}}</td>
    <td>{{data.guid}}</td>
    <td>{{data.date_exit}}</td>
    <td>{{data.date_first}}</td>
    <td>{{data.date_recent}}</td>
    <td>{{data.url}}</td>
  </tr>
</table>
